<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Shea Technologies!</title>

  <link rel="stylesheet" href="site.scss"/>
</head>

<body>
  <div class="container">
	<div>
	<img src= "https://cdn.discordapp.com/attachments/249652618412949505/758977199424012298/SheaTechnology.png" align="left-side" alt="SheaTechnology Icon" style="border-style"/>
      </div>
  <p>Hello my name is Alex Shea, Welcome to Shea Technologies! This is my Coding Challenge for Minim! :)</p>
 </body>


 </html>