


<head>
	<link rel="stylesheet" href="contact.scss"/>
</head>

<h1>Availability: Monday - Sunday: 8:00 am - 10:00 pm 
</h1>
<p style="font-size:300%;">910-523-8558, Email: Alexshea96@gmail.com</p>

<h2>
If I was not available, I will give you a call back or respond via email within 24 hours.

Thank you,




-Alex Shea
</h2>
