/* site.scss */
	body, html {
	height: 100%;

	}
	

	body {
	background-image: url("Background.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
		
		
	}

	.container {

	color: black;
	}




	p {

	color: white;
	}






	
